<div class="myfont" style="background-color: #F5F5F5; padding-top: 20px; width:90%; margin-right: 70px; margin-left: 70px">
    <div class="row"></div>
    <div class="form-row" style="background-color: #fff; padding: 20px 15px 20px 0">
        <div class="col-3 mb-2">
            <div class="form-group">
                <label for="searchBox">Type</label>
                <div ngbDropdown class="d-inline-block" id="searchBox"  style="width: 100%;"  rows="1">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: white; color:black; width:100%;text-align: left; border-color: #dadada" id="dropdownBasic1" ngbDropdownToggle>Search Type</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <li><button ngbDropdownItem style="background-color: white; border: 0;">single input</button></li>
                            <li><button ngbDropdownItem style="background-color: white; border: 0;">batch inputs</button></li>
                        </div>
                    </div>
            </div>
            </div>  
        
        <div class="col-6 mb-2">
            <div class="form-group">
                <label for="searchBox" >Search</label>
                <input type="text" style="width: 100%; height: 38px;  border-color: #dadada" rows="1">
            </div>  
        </div>

        <div class="col-1 mb-2">
                <label for="searchBox" style="color:white">submit</label>
            <button class="btn btn-primary" style="width: 100%;  border-color: #dadada"  rows="1">Submit</button></div>
        </div>
</div>

