
<div class="modal-body">
  <form id="searchForm" (ngSubmit)="submit(searchTerm)">
      <div class="form-group">
          <label for="basic-url">Single Input</label>
          <input type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="searchTerm" name="input" id="input" >    
      </div>
      <button class="btn btn-primary"  modal-trigger="searchResults">Submit</button>
  </form>

</div>

<simple-modal elementId="searchResults" onCloseBody="false" title="Sessions matching the description:{{searchTerm}}">

  <div class="container">
    <div class="row" style="color: white; background-color: gray ">
      <div class="col">
          <h6>Select</h6>
      </div>
      <div class="col">
        <h6>SKU</h6>
      </div>
      <div class="col">
        <h6>Transaction Type Code</h6>
      </div>
      <div class="col">
        <h6>Percentage</h6>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px" ></div>      
    <div class="row" *ngFor="let session of foundSessions">
      <div class="col" >
        <input type="checkbox" [(ngModel)]="session.isSelected" name="session.id" (ngModelChange)="onSessionClick(session)"  required style="width:20px;height: 20px;">
      </div>
      <div class="col" >
        <h6 name="SKU" id="SKU">{{session.SKU}}</h6>
      </div>
      <div class="col">
        <h6>{{session.transactionYtpeCode}}</h6>
      </div>
      <div class="col">
        <h6>{{session.Percentage}}%</h6>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" (click)="submitSession()">Save changes</button>
  </div> 
</simple-modal>

